* {
    padding: 0;
    margin: 0;
    font-family: poppins;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swal2-shown { 
    display:flex; 
    height:100vh; 
}

.login-left {
    position: static;
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: static;
}

.login-right {
    height: 100%;
    width: 40%;
    background-color: #3182CE;
    position: relative;
}

.upper-login {
    position: fixed;
    top: 15px;
    left: 15px;
}

.upper-registration {
    position: fixed;
    top: 15px;
    left: 15px;
    color: white;
}

.lower-login {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-h1 {
    justify-self: start;
}

#login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 80px;

}

.input-box {
    width: 50%;
    height: 40px;
    padding: 5px;
    font-size: 24px;
    box-sizing: border-box;
}

.input-box:focus {
    border: none;
}

.login-button {
    width: 30%;
    height: 40px;
    margin-top: -10px;
    border: none;
    background-color: #3182CE;
    color: white;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.login-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-right-container {
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.login-right h1 {
    color: white;
    font-size: 50px;
}

.login-right-container p {
    font-size: 24px;
    color: white;
}

.login-right-container button {
    height: 40px;
    width: 70%;
    border: none;
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
}

.triangle {
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 250px solid transparent;
    border-left: 250px solid #FFD700;
    transform: rotate(180deg);
}

.small-triangle {
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 200px solid transparent;
    border-left: 200px solid #FDBD01;
    transform: rotate(180deg);
}
  
.registration-left {
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #3182CE;
} 

.registration-right {
    height: 100%;
    width: 60%;
}

.triangle-registration {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 250px solid transparent;
    border-left: 250px solid #FFD700;
    transform: rotate(360deg);
}

.small-triangle-registration {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 200px solid transparent;
    border-left: 200px solid #FDBD01;
    transform: rotate(360deg);
}

.registration-left-container {
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.registration-left-container a {
    text-decoration: none;
    color: black;
}

.registration-left-container h1 {
    color: white;
    font-size: 50px;
}

.registration-left-container p {
    font-size: 24px;
    color: white;
}

.registration-left-container button {
    height: 40px;
    width: 70%;
    border: none;
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
}

.registration-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.registration-right-container {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-row {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.special-form-row {
    display: grid;
    width: 100%;
    grid-template-columns: 2fr 1fr;
    gap: 5px;
}

.registration-input-box {
    width: 100%;
    height: 40px;
    padding: 5px;
    font-size: 18px;
    box-sizing: border-box;
}

#registration-form {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
}

#registration-form button {
    font-weight: bold;
}

.login-right-container a {
    text-decoration: none;
    color: black;
}

.navbar-marketplace {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #3182CE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    z-index: 99;
}

.navbar-left {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.navbar-left a {
    color: white;
    text-decoration: none;
}

.navbar-left a:hover {
    color: #FFD700;
}

.navbar-right {
    height: 100%;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.fa-cart-shopping {
    color: #ffffff;
    font-size: 32px;
}

.navbar-right .fa-cart-shopping:hover {
    color: #FFD700;
}

.content {
    position: absolute;
    top: 80px;
    min-height: calc(100vh - 80px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.searchbar input {
    box-sizing: border-box;
    height: 40px;
    border: none;
}

.searchbar {
    width: 500px;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

.searchbar-text {
    width: 80%;
    border: 1px solid #808080;
    border-right: none;
    border-radius: 5px 0 0 5px;
    overflow: hidden;
}

.searchbar-text input {
    width: 100%;
    height: 38px;
    padding: 5px;
}

.searchbar-text input:focus {
    outline: none;
}

.searchbar-button {
    width: 20%;
    height: 40px;
    background-color: #FDBD01;
    border-left: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.searchbar-button div {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    background-color: #FDBD01;
    border-radius: 0 5px 5px 0;
}

.products-div {
    flex: 1;
    width: 100%;
    box-sizing: border-box;
    padding: 8px 0 32px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-display {
    display: grid;
    grid-template-columns: repeat(4, 312px);
    grid-auto-rows: 418px;
    gap: 16px;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    border-radius: 12px;
    padding: 16px 16px 24px 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.item-upper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 210px;
    background-color: lightgray;
    margin-bottom: 12px;
}

.product-img ,.order-product-img-container img {
    max-height: 100%;
    max-width: 100%;
}

.item-lower {
    flex: 1;
    width: 280px;
}

.product-name {
    width: 100%;
    height: 24px;
    font-weight: bold;
    margin-bottom: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.product-desc {
    width: 100%;
    height: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 12px;
}

.price-rating {
    width: 100%;
    height: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 16px;
    margin-bottom: 16px;
}

.price {
    width: 126px;
    height: 100%;
    font-weight: bold;
}

.rating {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 8px;
}

.stars {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.fa-star {
    font-size: 16px;
}

.details-cart {
    width: 280px;
    height: 40px;
    display: flex;
    column-gap: 16px;
}

.details-cart a {
    color: black;
    text-decoration: none;
    flex: 1;
    height: 40px;
}

.details-cart a:hover {
    opacity: 0.7;
}

.details-button {
    box-sizing: border-box;
    width: 220px;
    height: 40px;
    border-radius: 4px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.cart-button {
    box-sizing: border-box;
    flex: 1;
    height: 100%;
    background-color: black;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 30px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    height: 500px;
    box-sizing: border-box;
}

.modal-img {
    max-width: 100%;
    max-height: 40%;
}

.modal-details {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.fa-cart-shopping {
    font-size: 16px;
}

.sidebar {
    width: 300px;
    min-height: 100vh;
    background-color: #3182CE;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.sidebar-divider {
    width: 100%;
}

.sidebar-item {
    width: 100%;
    height: 80px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-sizing: border-box;
    padding: 16px;
}

.sidebar-item:hover {
    color: yellow;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px 0 0 8px;
}

.icon i {
    font-size: 24px;
    color: white;
}

.nav-title {
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    border-radius: 0 8px 8px 0;
}

.sidebar-link {
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.sidebar-link:hover {
    font-weight: bold;
}

.sidebar-link:hover .nav-title,  .sidebar-link:hover .icon, .sidebar-link:hover .icon i {
    background-color: white;
    color: #3182CE;
}

.sidebar-link:hover .icon .fa-right-from-bracket {
    color: red;
}

.sidebar-link:hover .red {
    color: red;
}


.sidebar a:nth-child(1) {
    margin-bottom: 16px;
}

.settings-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-product-container {
    min-height: 100vh;
    width: calc(100% - 300px);
    position: fixed;
    left: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.details-container {
    min-height: 100vh;
    width: calc(100% - 300px);
    position: fixed;
    left: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-details {
    width: 70%;
    min-height: 100vh;
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.details-header {
    padding-top: 32px;
    margin-bottom: 32px;
}

.details {
    width: 90%;
    height: 500px;
}

.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 56px;
    column-gap: 16px;
}

.details-input {
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
    padding: 8px;
}

.label-row {
    display: flex;
    align-items: flex-end;
    font-weight: bold;
    font-size: 24px;
}

.long-row {
    grid-column: span 2;
}

.account-image-div {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.account-image {
    height: 100%;
    width: 100%;
}

.right-details {
    padding-top: 80px;
    width: 30%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.settings-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Password-container {
    min-height: 100vh;
    width: calc(100% - 300px);
    position: fixed;
    left: 300px;
    padding-left: 40px;
    padding-top: 50px;
}


.Header{
    align-self: flex-start;
    margin-bottom: 80px;
    margin-left: 20px;
    width: 25%;
}

.text-container{
    min-height: 100vh;
    position: fixed;
    left: 300px;
    padding-left: 60px;
    padding-top: 300px;
}

.information-text{
    color:black;
    width: 90%;
}

.row-container{
    height: 100vh;
    position: fixed;
    left: 300px;
    margin-top: 40%;
    padding-left: 60px;
    padding-top: 50px;
}

.rows {
    padding-bottom: 30px;
}

.security-input-box {
    box-sizing: border-box;
    width: 600px;
    height: 40px;
    border-radius: 4px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding: 5px;
}

.forget-password {
    padding-bottom: 10px;
}

.security-cancel {
    width: 30%;
    height: 40px;
    border: none;
    background-color: #3182CE;
    color: white;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.security-save {
    width: 30%;
    height: 40px;
    border: none;
    background-color: #3182CE;
    color: white;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 20px;
}

.security-submit button a {
    text-decoration: none;
    color: inherit;
  }

.cart {
    width: 90%;
    height: auto;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 1fr;
    margin: 1rem 0;
    column-gap: 3rem;
}

.cart-item {
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-rows: 100px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
}

.cart-item-div {
    background-color: white;
    padding: 16px 0;
}

.cart-item div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-item-pic {
    padding: 8px;
}

.cart-item-pic img {
    max-width: 100%;
    max-height: 100%;
}

.cart-item-border {
    width: 100%;
    height: 32px;
    position: relative;
}

.cart-item-name {
    text-align: center;
  }

.cart-item-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart-product-img, .cart-product-name, .cart-product-unit-price, .cart-product-quantity, .cart-product-subtotal  {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-product-name {
    text-align: center;
}

.cart-product-subtotal {
    flex-direction: column;
}

.cart-product-img img {
    max-height: 100%;
    max-width: 100%;
}

.cart-product-quantity {
    column-gap: 16px;
}

.quantity-icon-div {
    
    
}
.fa-square-minus {
    color: #ffd43b;
    font-size: 24px;
    cursor: pointer;
}


.fa-square-plus {
    color: #ffd43b;
    font-size: 24px;
    cursor: pointer;
}

.cart-product-total {
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 100px;
}

.about-container {
    position: absolute;
    top: 80px;
    min-height: calc(100vh - 80px);
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.verification-container{
    min-height: 100vh;
    width: calc(100% - 300px);
    position: fixed;
    padding-top: 50px;
    padding-right: 80px;
}
.verification-header{
    align-self: flex-start;
    margin-left: 20px;
    width: 23.5%;
}
.otp-container{
    background-color: #3182CE;
    height:60%;
    width: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    border-radius: 20px;
    box-shadow: 0 10px 40px -20px black;
}
.otp-container h2{
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
}
#container-paragraph{
    color: white;
    margin-left: 30px;
}

.otp-container p{
    color: white;
    margin-left: 30px;
    margin-top: 50px;
}

.otp-card-inputs{
    padding-left: 80px;
    margin:30px 0;
    display:grid;
    gap: 20px;
    justify-content: center;
    grid-template-columns: repeat(5, auto);
}

.otp-card-inputs input{
    height: 150%;
    width: 60%;
    font-size: 35px;
    text-align: center;
    border-radius: 20px;
    border:1px solid black;
}

.otp-container button{
    border-radius: 20px;
    margin-left: 30px;
    margin-top: 25px;
    height: 40px;
    width: 20%;
    border: none;
    background-color: white;
    color: #3182CE;
    font-weight: bold;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
}


.change-password-container{
    min-height: 100vh;
    width: calc(100% - 300px);
    position: fixed;
    padding-top: 50px;
    padding-right: 80px;
}
.change-password-header{

    align-self: flex-start;
    margin-left: 20px;
    width: 23.5%;
}
.password-card{
    background-color: #3182CE;
    height: 70%;
    width: 35%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-shadow: 0 10px 40px -20px black;
}
.change-password-label{
    color: white;
}
.change-password-card-inputs{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.password-label{
    color: white;
}
.change-password-box{
    margin-top: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding: 5px;
}
.password-card h2{
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
}

.password-card p{
    color: white;
    margin-left: 30px;
    margin-top: 30px;
    width: 90%;
}

.change-password-card-inputs{
    margin:30px 0;
    margin-left: 30px;
    display:grid;
    gap: 20px;
}

.change-password-card-inputs input{
    width: 450px;
    border:1px solid black;
}

.change-password-button{
    border-radius: 20px;
    margin-left: 30px;
    margin-top: -30px;
    height: 40px;
    width: 20%;
    border: none;
    background-color: white;
    color: #3182CE;
    font-weight: bold;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
}

.left-about {
    width: 50%;
    min-height: inherit;
}

.right-about {
    width: 50%;
    min-height: inherit;
}

.cart-total-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 16px;
}

.cart-total {
    background-color: white;
      max-height: 400px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      box-sizing: border-box;
      padding: 16px;
}

.cart-total-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.place-order-btn {
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    font-weight: bold;
    background-color: #FDBD01;
    border-radius: 5px;
    border: none;
}

.place-order-btn:hover {
    opacity: 0.7;
    cursor: pointer;
}

.fa-peso-sign {
    margin-right: 8px;
}

.left-about {
    width: 50%;
    min-height: inherit;
}

.right-about {
    width: 50%;
    min-height: inherit;
}

.fa-peso-sign {
    margin-right: 8px;
}

.product-detail-content {
    position: absolute;
    top: 80px;
    min-height: calc(100vh - 80px);
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.left-product-detail {
    position: fixed;
    z-index: 99;
    width: 50%;
    min-height: inherit;
    height: auto;
}

.left-product-rating {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 16px;
}

.container {
    padding: 2rem;
}
.slider-wrapper {
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.slider::-webkit-scrollbar {
    display: none; 
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    /* object-fit: cover; */
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
}

.slider-nav a {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}

.right-product-detail {
    min-height: inherit;
    height: auto;
    margin-left: 50%;
    padding-top: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    flex: 1;
}

.right-product-upper-detail {
    width: 100%;
    height: 400px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    row-gap: 8px;
}

.right-product-upper-detail p {
    /* padding: 0 8px; */
    text-align: justify;
    text-justify: inter-word;
    padding-right: 2rem;
}

.cart-button-long {
    box-sizing: border-box;
    width: 300px;
    height: 100%;
    background-color: black;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
}

.long-cart-btn-div {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.long-cart-btn-div a {
    display: block;
    height: 100%;
    text-decoration: none;
    color: white;
}

.cart-button-long:hover {
    opacity: 0.7;
    cursor: pointer;
}

.right-product-lower-detail {
    width: 100%;
    height: auto;
    padding: 16px;
    border-radius: 20px;
    background-color: #3182CE;
    color: white;
    box-sizing: border-box;
}

.reviews-h2-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-box {
    width: 100%;
    min-height: 100px;
    height: auto;
    background-color: white;
    border-radius: calc(20px - 16px);
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    margin-bottom: 1rem;
}

.feedback-profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.feedback-profile img {
    height: 100%;
    width: 100%;
}

.profile-rating-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feedback-name-date-div {
    padding-top: 8px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.feedback-content-div {
    color: black;
    padding: 8px 0 8px 8px;
}

.seller-dashboard-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

.inner-dashboard-container {
    height: 100vh;
    width: calc(100% - 300px);
    position: fixed;
    left: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0 32px;
}

#qr-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-product-div {
    margin-top: 10vh;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    justify-content: flex-start;
    align-items: center;
    padding: 0 32px 32px;
}

.steps-div {
    width: auto;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.steps-graphic {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1px;
}

.steps-icon-div {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF5EC;
}

.steps-icon-div i {
    font-size: 24px;
    color: #3182CE;
}

.hr-div {
    width: 100px;
    height: auto;
}

.hr-div hr {
    border-top: 5px dashed #C3E2FF;
}

.cart-upper hr {
    height: 2px;
    background-color: black;
    margin: 8px 0;
}

.steps-text {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 100px;
}

.icon-text-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-product-form {
    width: 100%;
    min-height: 100%;
    height: auto;
    border-radius: 12px;
    background-color: #3182CE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 24px 24px 24px;
    color: white;
}

.form-add-products {
    width: 100%;
    height: 100%;
    padding: 0 24px 24px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-add-product-form {
    height: auto;
    width: 100%;
    padding-top: 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 16px;
}


.right-add-product-form {
    height: 100%;
    width: 40%;
    padding-top: 8px;
    padding-bottom: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 16px;
    
}

.upper-product-form {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
    color: white;
    position: relative;
}

.upper-product-form h3 {
    margin: 0 auto;
}

.lower-product-form {
    min-height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    column-gap: 32px;
}

.lower-product-form2 {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 32px;
}

.product-form-row {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 8px;
}

.product-form-row input[type="text"], textarea {
    width: 100%;
    box-sizing: border-box;
    font-size: 24px;
    border-radius: 8px;
    border: none;
    padding: 8px;
    resize: none;
}

.clear {
    clear: both;
  }
  
  .checkBox {
    display: block;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: 3px solid rgba(255, 255, 255, 0);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 0px 2px #fff;
  }
  
  .checkBox div {
    width: 60px;
    height: 60px;
    background-color: #fff;
    top: -52px;
    left: -52px;
    position: absolute;
    transform: rotateZ(45deg);
    z-index: 100;
  }
  
  .checkBox input[type=checkbox]:checked + div {
    left: -10px;
    top: -10px;
  }
  
  .checkBox input[type=checkbox] {
    position: absolute;
    left: 50px;
    visibility: hidden;
  }
  
  .transition {
    transition: 300ms ease;
  }

  .product-form-checkbox {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 8px;
  }

  textarea:focus, .input:focus{
    outline: none;
} 

.upper-right-add-product-form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 16px;
}


.form-next-button {
    align-self: end;
    height: 40px;
    width: 200px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    column-gap: 8px;
    cursor: pointer;
}

#edit-step {
    background-color: #3182CE;
}

#edit-step i {
    color: white;
}

.add-category-form {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background-color: #3182CE;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 24px 24px 24px;
    color: white;
    row-gap: 16px;
}

.lower-category-form {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: calc(24px - 12px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 16px;
    box-sizing: border-box;
}

.category-list {
    width: auto;
    height: 40%;
    display: grid;
    grid-template-rows: 50%;
    grid-template-columns: 1fr 1fr 1fr;
}

.input[type="checkbox"] {
    display: none;
  }

.custom-checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #333;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
}
  

  .custom-checkbox::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background-color: #333;
    border-radius: 2px;
    opacity: 0;
  }
  
  
  .input[type="checkbox"]:checked + .custom-checkbox::after {
    opacity: 1;
  }

  .category-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: black;
  }

  .checkbox-label {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
  }

  .category-next-button {
    align-self: end;
    height: 40px;
    width: 200px;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    column-gap: 8px;
    cursor: pointer;
}

.add-product-back-button {
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    position: absolute;
    left: 16px;
    cursor: pointer;
}

.payment-method-form {
    width: 40%;
    height: 100%;
    border-radius: 12px;
    background-color: #3182CE;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 24px 24px 24px;
    color: white;
    row-gap: 16px;
}

.payment-methods-div {
    width: 100%;
    height: 50%;
    padding-bottom: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 16px;
}

.payment-method {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-money-bill-1-wave {
    color: black;
    font-size: 50px;
}

.payment-method-image {
    width: 200px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.payment-method-image img {
    max-width: 100%;
    max-height: 100%;
}

.variant-input-div {
    color: black;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.add-variant-btn {
    border: 1px solid black;
    cursor: pointer;
}

.upper-category {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.radio-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radio-inputs > * {
    margin: 6px;
    width: 100%;
}

.radio-input:checked + .radio-tile {
    border-color: #2260ff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: #2260ff;
}

.radio-input:checked + .radio-tile:before {
  transform: scale(1);
  opacity: 1;
  background-color: #2260ff;
  border-color: #2260ff;
}

.radio-input:checked + .radio-tile .radio-icon svg {
  fill: #2260ff;
}
.radio-input:checked + .radio-tile .radio-icon img {
  filter: grayscale(0%);
}

.radio-input:checked + .radio-tile .radio-label {
  color: #2260ff;
}

.radio-input:focus + .radio-tile {
  border-color: #2260ff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;
}

.radio-input:focus + .radio-tile:before {
  transform: scale(1);
  opacity: 1;
}

.radio-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 80px;
  border-radius: 0.5rem;
  border: 2px solid #b5bfd9;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.15s ease;
  cursor: pointer;
  position: relative;
}

.radio-tile:before {
  content: "";
  position: absolute;
  display: block;
  width: 0.75rem;
  height: 0.75rem;
  border: 2px solid #b5bfd9;
  background-color: #fff;
  border-radius: 50%;
  top: 0.25rem;
  left: 0.25rem;
  opacity: 0;
  transform: scale(0);
  transition: 0.25s ease;
}
  
  .radio-tile:hover {
    border-color: #2260ff;
  }
  
  .radio-tile:hover:before {
    transform: scale(1);
    opacity: 1;
  }
  
.radio-icon svg {
    width: 2rem;
    height: 2rem;
    fill: #494949;
}

span img {
    filter: grayscale(100%);
}

.radio-label {
    color: #707070;
    transition: 0.375s ease;
    text-align: center;
    font-size: 13px;
}
  
.radio-input {
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.border-bottom {
    display: block; 
    width: 100%;
}

.border-bottom::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 95%; 
    border-bottom: 2px solid #D0D0D0;
    margin-bottom: 16px;
}

#my-orders-border-bottom::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%; 
    border-bottom: 2px solid #D0D0D0;
}

.cart-item-quantity {
    column-gap: 16px;
}
.resend-verification-card-inputs{
    margin-top: 20px;
    margin-left: 30px;
    text-align: left;
}
.resend-verification-card-inputs input{
    width: 40%;
    text-align: left;
}

.resend-verification-container{
    min-height: 100vh;
    width: calc(100% - 300px);
    position: fixed;
    padding-top: 50px;
    padding-right: 80px;
}
.resend-verification-header{
    align-self: flex-start;
    margin-left: 20px;
    width: 23.5%;
}

.resend-container{
    background-color: #3182CE;
    height:50%;
    width: 30%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    border-radius: 20px;
    box-shadow: 0 10px 40px -20px black;
}

.resend-container h2{
    color: white;
    margin-left: 30px;
    margin-top: 50px;
}

.resend-container button{
    margin-left: 30px;
    margin-top: 25px;
    height: 40px;
    width: 20%;
    border: none;
    background-color: white;
    color: #3182CE;
    font-weight: bold;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;

}
   
.back-to-registration-code button{
    height: 30px;
    width: 31.5%;
    margin-left: 30px;
    margin-top: 20px;
    border: rgb(0, 0, 0);
    background-color: white;
    color: #3182CE;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}


.resend-container p{
    color: white;
    margin-left: 30px;
    margin-top: 35px;
}

.resend-container input{
    height: 40%;
    width: 90%;
    font-size: 20px;
    text-align: left;
    border-radius: 5px;
    border:none;
    padding-left: 10px;
}

.verification-button {
    background: none;
    border: none;
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
    font-size: 1em;
    padding: 0;
}
.verification-button:hover {
    color: #0056b3;
}

.resend-button{
    border-radius: 20px;
    margin-left: 30px;
    margin-top: 30px;
    height: 40px;
    width: 30%;
    border: 5px solid red;
    background-color: white;
    color: #3182CE;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;

}
.resend-verification-submit{
    width: 35%;
    border: none;
}

.resend-code-registration{
    margin-left: 65%;
    margin-top: 10%;
    width: 250%;
}
.resend-code-registration button{
    width: 30%;
    height: 40px;
    border: none;
    background-color: #3182CE;
    color: white;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.resend-code-registration input{
    font-size: 20px;
    background: none;
    border: none;
    color: #3182CE; 
    text-decoration: underline;
    cursor: pointer; 
    padding: 0; 
    font-family: inherit
}

.add-variation {
    color: black;
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 8px;
    align-items: center;
    padding-left: 8px;
}

.variation-input {
    font-size: 16px;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    text-align: center;
}

.lower-category {
    background-color: white;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-category-partition {
    color: black;
    height: 100%;
    width: 50%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}

.right-category-partition {
    color: black;
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 8px;
    row-gap: 8px;
}

.add-variation-btn {
    border: none;
    width: 200px;
    height: 30px;
    color: white;
    background-color: black;
    border-radius: 8px;
}

.add-variation-btn:hover {
    opacity: 0.7;
    cursor: pointer;
}

.variation-group, .size-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 180px;
    overflow-y: scroll;
}

.variation-group {
    border: 2px solid black;
    border-right: none;
}

.size-group {
    border: 2px solid black;
}

.fa-plus {
    margin-right: 8px;
}

.variation-list, .size-list {
    width: 100%;
    height: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.variation-div {
    display: inline-block;
    padding: 8px;
    margin: 4px;
    background-color: #3182CE;
    color: white;
    border-radius: 16px;
}

.variation-div button {
    background-color: #3182CE;
    border: none;
    color: white;
    cursor: pointer;
    margin-left: 8px;
}

.variation-div button:hover, .size-div button:hover {
    color: red;
}

.size-div {
    display: inline-block;
    padding: 8px;
    margin: 4px;
    background-color: #FDBD01;
    color: white;
    border-radius: 16px;
}

.size-div button {
    background-color: #FDBD01;
    border: none;
    color: white;
    cursor: pointer;
    margin-left: 8px;
}

.pricing-div {
    width: 100%;
    height: 300px;
    overflow-y: scroll;
    overflow: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: black;
    border: 1px solid black;
    margin-bottom: 24px;
}

.pricing-div::webkit-scrollbar {
    display: block;
    width: 8px;
}

.pricing-div::webkit-scrollbar-track {
    background: #f1f1f1;
}

.pricing-div::-webkit-scrollbar-thumb {
    background: #888;
}

.pricing-div::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.pricing-div table {
    width: 100%;
    height: auto;
    text-align: center;
}

.pricing-table tr {
    height: 50px;
}

.price-input {
    width: 50%;
    font: 24px;
    box-sizing: border-box;
    padding: 8px;
    font-weight: bold;
    text-align: center;
}

.delete-variation-button {
    background-color: #DC3545;
    border: none;
    border-radius: 8px;
    height: 40px;
    width: 100px;
    color: white;
}

.delete-variation-button:hover {
    cursor: pointer;
}

.image-container {
    position: relative;
    display: inline-block; 
}

.delete-button-container {
    position: absolute;
    top: 0;
    right: 0;
}

.delete-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.seller-products-container {
    width: 100%;
    height: 100%;
    padding: 40px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.manage-product-display {
    display: grid;
    grid-template-columns: repeat(3, 312px);
    grid-auto-rows: 418px;
    gap: 16px;
}

#add-product-pictures {
    display: none;
}

.custum-file-upload {
    height: 100px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    gap: 20px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 2px dashed #cacaca;
    background-color: rgba(255, 255, 255, 1);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 48px 35px -48px rgba(0,0,0,0.1);
  }
  
  .custum-file-upload .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custum-file-upload .icon svg {
    height: 80px;
    fill: rgba(75, 85, 99, 1);
  }
  
  .custum-file-upload .text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custum-file-upload .text span {
    font-weight: 400;
    color: rgba(75, 85, 99, 1);
  }
  
  .custum-file-upload input {
    display: none;
  }

  .upload-images-row {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 8px;
  }

  .uploaded-images-display {
    width: 100%;
    max-height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 16px;
  }
.forget-password-login{
    margin-right: 35%;
    margin-top: -2%
}

.send-code-submit{

    border: none;
}

.send-code-submit input{
    margin-left: 30px;
    margin-top: 30px;
    padding-left: 25px;
    height: 40px;
    width: 31.5%;
    border: none;
    background-color: white;
    color: #3182CE;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer
}

.my-orders-navbar {
    height: 50px;
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: white;
  }

.my-orders-nav-link {
    text-decoration: none;
    color: black;
}

.my-orders-nav-link:hover {
    color: #3182CE;
    cursor: pointer;
}

.my-orders-nav-item {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#my-orders-page {
    background-color: #F5F5F5;
    row-gap: 16px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.my-orders-display {
    width: 60%;
    padding: 0 16px 16px 16px;
    box-sizing: border-box;
    height: auto;
    background-color: white;
    display: grid;
    grid-template-rows: 10vh auto 20vh;
}

#orders-display {
    width: 100%;
    box-sizing: border-box;
    height: auto;
    background-color: white;
}

.pending-orders {
    grid-template-rows: 10vh auto minmax(10vh, auto);
}

.orders-details {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.orders-details-row {
    position: relative;
    padding-bottom: 16px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.orders-details-row::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    border-bottom: 2px solid #D0D0D0;
    margin-bottom: 16px; /* Adjust as needed */
}

.left-details-row {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 8px;
}

.orders-product-display {
    height: 15vh;
    width: 100%;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: space-between;
}

.left-product-display {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 16px;
}

.right-product-display {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.order-product-img-container {
    width: 80px;
    height: 80px;
    border: 1px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-product-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.order-item-total {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    padding-top: 16px;
}

.flex-col {
    flex-direction: column;
    row-gap: 16px;
}

.lower-order-item-total {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 5px;
    column-gap: 16px;
}

.rate-product-link {
    color: white;
    background-color: #FDBD01;
    text-decoration: none; 
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.approve {
    background-color: #1BA244;
    border: none;
    font-size: 16px;
}

.cancel {
    background-color: #DD3E43;
    border: none;
    font-size: 16px;
}

.rate-product-link:hover {
    cursor: pointer;
}

.rate-button {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.order-total {
    font-size: 32px;
}

.orders-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 16px;
}

#pending-my-orders {
    grid-template-rows: 10vh auto 10vh;
}

.hidden {
    visibility: hidden;
    position: absolute;
}

.visible {
    visibility: visible;
    position: static;
}

.left-order-total {
    width: 60%;
    height: auto;
}

.upper-order-item-total {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 16px;
}

.right-order-total {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.right-details-row {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
}

#pendingCount, #allCount, #toPayCount, #toReceiveCount, #completedCount {
    margin-left: 8px;
}

#orders-tab {
    display: flex;
    height: 100%;
    overflow-y: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #F5F5F5;
    row-gap: 16px;
    padding-top: 32px;
    padding-bottom: 32px;
}

#orders-navbar {
    height: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: white;
    flex-shrink: 0;
  }

  .orders-table {
    width: 100%;
    text-align: center;
    padding: 16px 8px;
  }
  
  .orders-tr td {
    height: 50px;
    text-align: center;
  }

  .td-productName {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .orders-tr td:hover {
    cursor: default;
  }

  .td-nextBtn {
    width: 50px;
  }

  .td-nextBtn i:hover {
    cursor: pointer;
  }

  .td-buyerName {
    width: 200px;
  }

  .td-paymentMethod {
    width: 200px;
  }

  .td-totalAmount {
    width: 100px;
  }

  .td-itemQty {
    width: 50px;
  }

  .star-rating-btn-icon {
    margin-right: 8px;
  }

  .payment-body {
    width: 100%;
    height: 100vh;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .payment-body a {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    font-size: 20px;
    position: absolute;
    top: 6%;
    left: 20%;
  }

  .payment-modal {
    width: 60%;
    height: 80vh;
    background-color: white;
    border: 1px solid black;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .left-payment {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.qr-img {
    max-width: 90%;
    max-height: 90%;
    width: auto;
    height: auto;
}

.right-payment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 8px;
}

#uploadedImage {
    display: none;
    max-width: 100%;
    max-height: 400px; 
    object-fit: contain;
    margin-top: 20px;
}

.proof-of-payment img {
    max-width: 100%;
    max-height: 800px; 
    object-fit: contain;
    margin-top: 20px;
}

  .form-buttons-div {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 16px;
  }

  .payment-form-btn {
    width: 30%;
    height: 50%;
  }

.submit-payment-btn {
    background-color: #28A745;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    font-size: 16px;
}

.change-picture-btn {
    background-color: #FFC107;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
}

.delete-picture-btn {
    background-color: #DC3545;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
}

#paymentForm, #qrForm {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 8px;
}

.green {
    color: #009151;
}

.fa-hand-holding-dollar {
    font-size: 32px;
}

.fa-sack-dollar {
    font-size: 32px;
}

.proof-of-payment {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upper-order-details {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.proof-of-payment img {
    width: 100px;
    height: auto;
}

.fa-phone {
    margin-left: 16px;
}

.proof-of-payment form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.payment-approval-form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 16px;
}

.detailedProductInput {
    font-size: 16px;
    
}

.uploadedQR {
    max-width: 100%;
    max-height: 90%;
    width: auto;
    height: auto;
}

.qr-img-container {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.cart-wrapper {
    position: relative;
    display: inline-block;
}

.cart-notification {
    position: absolute;
    top: -20px;
    right: -18px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 12px;
}

.modal-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.modal-row {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.modalInput {
    width: 100%;
    height: 40px;
}

.modalInputQty {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    font-size: 24px;
}

.modal-add-to-cart-btn {
    width: 100%;
    height: 40px;
}

.modal-add-to-cart-btn a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
    border: none;
    background-color: black;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.upper-modal-form, .bottom-modal-form {
    width: 100%;
    height: auto;
}