* {
    padding: 0;
    margin: 0;
    font-family: poppins;

}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-left {
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.login-right {
    height: 100%;
    width: 40%;
    background-color: #3182CE;
}

.upper-login {
    position: fixed;
    top: 15px;
    left: 15px;
}

.upper-registration {
    position: fixed;
    top: 15px;
    left: 15px;
    color: white;
}

.lower-login {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-h1 {
    justify-self: start;
}

#login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 80px;
}

.input-box {
    width: 50%;
    height: 40px;
    padding: 5px;
    font-size: 24px;
    box-sizing: border-box;
}

.input-box:focus {
    border: none;
}

.login-button {
    width: 30%;
    height: 40px;
    border: none;
    background-color: #3182CE;
    color: white;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.login-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-right-container {
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.login-right h1 {
    color: white;
    font-size: 50px;
}

.login-right-container p {
    font-size: 24px;
    color: white;
}

.login-right-container button {
    height: 40px;
    width: 70%;
    border: none;
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
}

.triangle {
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 250px solid transparent;
    border-left: 250px solid #FFD700;
    transform: rotate(180deg);
}

.small-triangle {
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 200px solid transparent;
    border-left: 200px solid #FDBD01;
    transform: rotate(180deg);
}
  
.registration-left {
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #3182CE;
} 

.registration-right {
    height: 100%;
    width: 60%;
}

.triangle-registration {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 250px solid transparent;
    border-left: 250px solid #FFD700;
    transform: rotate(360deg);
}

.small-triangle-registration {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 200px solid transparent;
    border-left: 200px solid #FDBD01;
    transform: rotate(360deg);
}

.registration-left-container {
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.registration-left-container a {
    text-decoration: none;
    color: black;
}

.registration-left-container h1 {
    color: white;
    font-size: 50px;
}

.registration-left-container p {
    font-size: 24px;
    color: white;
}

.registration-left-container button {
    height: 40px;
    width: 70%;
    border: none;
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
}

.registration-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.registration-right-container {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-row {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.special-form-row {
    display: grid;
    width: 100%;
    grid-template-columns: 2fr 1fr;
    gap: 5px;
}

.registration-input-box {
    width: 100%;
    height: 40px;
    padding: 5px;
    font-size: 24px;
    box-sizing: border-box;
}

#registration-form {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
}

#registration-form button {
    font-weight: bold;
}

.login-right-container a {
    text-decoration: none;
    color: black;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #3182CE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    z-index: 99;
}

.navbar-left {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.navbar-left a {
    color: white;
    text-decoration: none;
}

.navbar-left a:hover {
    color: #FFD700;
}

.navbar-right {
    padding-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.fa-cart-shopping {
    color: #ffffff;
    font-size: 20px;
}

.navbar-right .fa-cart-shopping:hover {
    color: #FFD700;
}

.content {
    position: absolute;
    top: 80px;
    min-height: calc(100vh - 80px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.searchbar input {
    box-sizing: border-box;
    height: 40px;
    border: none;
}

.searchbar {
    width: 500px;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

.searchbar-text {
    width: 80%;
    border: 1px solid #808080;
    border-right: none;
    border-radius: 5px 0 0 5px;
    overflow: hidden;
}

.searchbar-text input {
    width: 100%;
    height: 38px;
    padding: 5px;
}

.searchbar-text input:focus {
    outline: none;
}

.searchbar-button {
    width: 20%;
    background-color: #FDBD01;
    border-left: none;
    border-radius: 0 5px 5px 0;
}

.searchbar-button input{
    width: 100%;
    color: white;
    font-weight: bold;
    background-color: #FDBD01;
    border-radius: 0 5px 5px 0;
}

.products-div {
    flex: 1;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-display {
    display: grid;
    grid-template-columns: repeat(4, 312px);
    grid-auto-rows: 418px;
    gap: 16px;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    border-radius: 12px;
    padding: 16px 16px 24px 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.item-upper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 210px;
    background-color: lightgray;
    margin-bottom: 12px;
}

.product-img {
    max-height: 100%;
    max-width: 100%;
}

.item-lower {
    flex: 1;
    width: 280px;
}

.product-name {
    width: 100%;
    height: 24px;
    font-weight: bold;
    margin-bottom: 8px;
}

.product-desc {
    width: 100%;
    height: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 12px;
}

.price-rating {
    width: 100%;
    height: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 16px;
    margin-bottom: 16px;
}

.price {
    width: 126px;
    height: 100%;
    font-weight: bold;
}

.rating {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 8px;
}

.stars {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.fa-star {
    font-size: 16px;
}

.details-cart {
    width: 280px;
    height: 40px;
    display: flex;
    column-gap: 16px;
}

.details-button {
    box-sizing: border-box;
    width: 220px;
    height: 40px;
    border-radius: 4px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.cart-button {
    box-sizing: border-box;
    flex: 1;
    height: 100%;
    background-color: black;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-cart-shopping {
    font-size: 16px;
}

.sidebar {
    width: 300px;
    min-height: 100vh;
    background-color: #3182CE;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.sidebar-item {
    width: 100%;
    height: 80px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-sizing: border-box;
    padding: 16px;
}

.sidebar-item:hover {
    color: yellow;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px 0 0 8px;
}

.icon i {
    font-size: 24px;
    color: white;
}

.nav-title {
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    border-radius: 0 8px 8px 0;
}

.sidebar-link {
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.sidebar-link:hover {
    font-weight: bold;
}

.sidebar-link:hover .nav-title,  .sidebar-link:hover .icon, .sidebar-link:hover .icon i {
    background-color: white;
    color: #3182CE;
}

.sidebar-link:hover .icon .fa-right-from-bracket {
    color: red;
}

.sidebar-link:hover .red {
    color: red;
}


.sidebar a:nth-child(1) {
    margin-bottom: 16px;
}

.settings-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-product-container {
    min-height: 100vh;
    width: calc(100% - 300px);
    position: fixed;
    left: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.details-container {
    min-height: 100vh;
    width: calc(100% - 300px);
    position: fixed;
    left: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-details {
    width: 70%;
    min-height: 100vh;
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.details-header {
    padding-top: 32px;
    margin-bottom: 32px;
}

.details {
    width: 90%;
    height: 500px;
}

.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 56px;
    column-gap: 16px;
}

.details-input {
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
    padding: 8px;
}

.label-row {
    display: flex;
    align-items: flex-end;
    font-weight: bold;
    font-size: 24px;
}

.long-row {
    grid-column: span 2;
}

.account-image-div {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.account-image {
    height: 100%;
    width: 100%;
}

.right-details {
    padding-top: 80px;
    width: 30%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.settings-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Password-container {
    min-height: 100vh;
    width: calc(100% - 300px);
    position: fixed;
    left: 300px;
    padding-left: 40px;
    padding-top: 50px;
}


.Header{
    align-self: flex-start;
    margin-bottom: 80px;
    margin-left: 20px;
    width: 25%;
}

.text-container{
    min-height: 100vh;
    position: fixed;
    left: 300px;
    padding-left: 60px;
    padding-top: 300px;
}

.information-text{
    color:black;
    width: 90%;
}

.row-container{
    height: 100vh;
    position: fixed;
    left: 300px;
    padding-left: 60px;
    padding-top: 50px;
}

.rows {
    padding-bottom: 30px;
}

.Security-input-box {
    box-sizing: border-box;
    width: 600px;
    height: 40px;
    border-radius: 4px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding: 5px;
}

.forget-password {
    padding-bottom: 10px;
}

.Security-cancel {
    width: 30%;
    height: 40px;
    border: none;
    background-color: #3182CE;
    color: white;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.Security-save {
    width: 30%;
    height: 40px;
    border: none;
    background-color: #3182CE;
    color: white;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 20px;
}

.Security-submit button a {
    text-decoration: none;
    color: inherit;
  }